.song-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.song-card:hover {
  transform: translateY(-3px);
}

.song-details {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.song-details p {
  margin: 2px 0;
  color: #333;
}

.song-actions {
  display: flex;
  gap: 10px;
}

.song-actions i {
  cursor: pointer;
  transition: transform 0.2s;
}

.song-actions i:hover {
  transform: scale(1.1);
}

.song-actions i.edit-icon {
  color: #f0c419;
}

.song-actions i.delete-icon {
  color: #e74c3c;
}
.song-actions i.star-icon {
  color: #56e73c;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination button:not(:disabled):hover {
  background-color: #0056b3;
}

.pagination span {
  font-size: 16px;
  color: #333;
  margin: 0 10px;
}


.song-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slide-out-left {
  animation: slideOutLeft 0.25s forwards;
}

.slide-in-right {
  animation: slideInRight 0.25s forwards;
}

.slide-out-right {
  animation: slideOutRight 0.25s forwards;
}

.slide-in-left {
  animation: slideInLeft 0.25s forwards;
}

@keyframes slideOutLeft {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes slideOutRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}